<a href="https://colab.research.google.com/github/Spartz1/Machine-Learning/blob/main/London_weather_DV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
lw_data = pd.read_csv('london_weather.csv')

In [4]:
lw_data.head()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0

In [5]:
print(lw_data.shape)
lw_data.info()

(15341, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15341 entries, 0 to 15340
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              15341 non-null  int64
 1   cloud_cover       15322 non-null  float64
 2   sunshine          15341 non-null  float64
 3   global_radiation  15322 non-null  float64
 4   max_temp          15335 non-null  float64
 5   mean_temp         15305 non-null  float64
 6   min_temp          15339 non-null  float64
 7   precipitation     15335 non-null  float64
 8   pressure          15337 non-null  float64
 9   snow_depth        13900 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 1.2 MB

In [6]:
lw_data.describe().T

,count,mean,std,min,25%,50%,75%,max
date,15341.0,1.999567e+07,121217.558277,19790101.0,19890702.0,20000101.0,20100702.0,20201231.0
cloud_cover,15322.0,5.268242e+00,2.070072,0.0,4.0,6.0,7.0,9.0
sunshine,15341.0,4.350238e+00,4.028339,0.0,0.5,3.5,7.2,16.0
global_radiation,15322.0,1.187570e+02,88.898272,8.0,41.0,95.0,186.0,402.0
max_temp,15335.0,1.538878e+01,6.554754,-6.2,10.5,15.0,20.3,37.9
mean_temp,15305.0,1.147551e+01,5.729709,-7.6,7.0,11.4,16.0,29.0
min_temp,15339.0,7.559867e+00,5.326756,-11.8,3.5,7.8,11.8,22.3
precipitation,15335.0,1.668634e+00,3.738540,0.0,0.0,0.0,1.6,61.8
pressure,15337.0,1.015366e+05,1049.722604,95960.0,100920.0,101620.0,102240.0,104820.0
snow_depth,13900.0,3.798561e-02,0.545633,0.0,0.0,0.0,0.0,22.0

In [7]:
lw_data.isna().sum()

date                   0
cloud_cover           19
sunshine               0
global_radiation      19
max_temp               6
mean_temp             36
min_temp               2
precipitation          6
pressure               4
snow_depth          1441
dtype: int64

In [8]:
lw_data['year'] = lw_data['date'].astype(str).str[:4]
lw_data['month'] = lw_data['date'].astype(str).str[4:6]
lw_data['date'] = lw_data['date'].astype(str).str[6:]

In [30]:
weather_features = lw_data.select_dtypes(exclude = 'object').columns

In [44]:
for x in weather_features:
  print(x, len(lw_data[x].unique()))

cloud_cover 11
sunshine 160
global_radiation 361
max_temp 375
mean_temp 322
min_temp 297
precipitation 263
pressure 643
snow_depth 20

In [32]:
lw_data1 = lw_data.groupby(['year', 'month'], as_index = False)[weather_features].mean()

In [33]:
lw_data1

,year,month,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,1979,01,5.724138,1.887097,29.032258,4.116129,0.616129,-2.551613,1.932258,101214.838710,1.354839
1,1979,02,6.360000,1.889286,45.214286,4.532143,2.042857,-0.428571,1.571429,101163.928571,0.107143
2,1979,03,5.967742,3.212903,93.354839,9.238710,5.587097,1.993548,3.061290,100459.032258,0.032258
3,1979,04,6.133333,3.543333,134.166667,12.520000,8.743333,4.810000,2.586667,101165.333333,0.000000
4,1979,05,5.290323,6.470968,204.064516,16.206452,11.490323,7.151613,2.806452,101362.580645,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
499,2020,08,5.000000,6.135484,210.741935,25.200000,20.393333,15.738710,1.812903,101224.193548,NaN
500,2020,09,4.200000,6.540000,170.000000,21.693333,16.616667,11.580000,0.640000,101695.000000,NaN
501,2020,10,5.774194,1.887097,72.516129,14.970000,11.933333,9.038710,4.632258,100804.516129,NaN
502,2020,11,5.933333,1.716667,43.166667,12.636667,9.806667,7.026667,1.660000,101939.000000,NaN
503,2020,12,5.466667,1.425806,27.967742,8.325806,6.232258,4.187097,2.335484,100303.870968,NaN